*{
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: rgba(194,123,160,1);
}

header{
    color: black;
    background-image: url(./imagem/lotus.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

.logotipo {
    display: flex;
    position: left;
    max-height: 56px;
    max-width: 225px;
    padding: 8px 4px 8px 12px;
    vertical-align: middle;
}

.menu{
    position: right;
}

img.roupas {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}