*{
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: rgba(194,123,160,1);
}

.foto-topo{
    background-image: url(./imagem/flores.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    background-size: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
;
}

.logotipo {
    display: flex;
    position: left;
    max-height: 56px;
    max-width: 225px;
    padding: 8px 4px 8px 12px;
    vertical-align: middle;
}

img.roupas {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,.2);
    border: solid transparent;
    min-height: 28px;
    padding: 100px 0 0;
    height: 375px;
    width: 300px;
}

.instagram{
    display: flex;
    justify-content: center;
}